<form action="/dev/gigya/auth" method="post">
  <div>
    <label for="mail">E-mail:</label>
    <input type="email" id="mail" name="email">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
